@model WebApplicationCursos.Models.Asignacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CursoID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CursoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstructorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstructorID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AsignacionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
